@page
@model ProjectIoePrn.Pages.AdminDetailsExamModel
@{
    ViewData["Title"] = "Exam Details";
}

<h1>Exam Details</h1>

<div>
    <h2>Admin: @Model.Admin.AdminName</h2>
    <h3>Round: @Model.RoundName</h3>
    <div>
        <label>Round Name:</label>
        <input type="text" value="@Model.RoundName" readonly />
    </div>
    <div>
        <label>Round Create Date:</label>
        <input type="date" value="@Model.RoundCreateDate.ToString("yyyy-MM-dd")" readonly />
    </div>
    <div>
        <h4>Part 1: Fill in the Blanks</h4>
        @foreach (var question in Model.QuestionsPart1)
        {
            <div>
                <label>Question:</label>
                <input type="text" value="@question.Name" readonly />
                <label>Answer:</label>
                <input type="text" value="@question.Answer" readonly />
            </div>
        }
    </div>
    <div>
        <h4>Part 2: Multiple Choice</h4>
        @foreach (var question in Model.QuestionsPart2)
        {
            <div>
                <label>Question:</label>
                <input type="text" value="@question.Name" readonly />
                <label>Choice 1:</label>
                <input type="text" value="@question.Choice1" readonly />
                <label>Choice 2:</label>
                <input type="text" value="@question.Choice2" readonly />
                <label>Choice 3:</label>
                <input type="text" value="@question.Choice3" readonly />
                <label>Choice 4:</label>
                <input type="text" value="@question.Choice4" readonly />
                <label>Answer:</label>
                <input type="text" value="@question.Answer" readonly />
            </div>
        }
    </div>
    <div>
        <h4>Part 3: Matching</h4>
        @foreach (var question in Model.QuestionsPart3)
        {
            <div>
                <label>Question:</label>
                <input type="text" value="@question.Name" readonly />
                <label>Answer:</label>
                <input type="text" value="@question.Answer" readonly />
            </div>
        }
    </div>
</div>
