@page
@model ProjectIoePrn.Pages.OverviewExamsModel
@{
    ViewData["Title"] = "Overview Exams";
}

<h2>Vòng tự luyện</h2>

@if (Model.Student != null)
{
    <div>
        <h3>Thông tin học sinh</h3>
        <p>ID: @Model.Student.StudentId</p>
        <p>Tài khoản: @Model.Student.StudentName</p>
        <p>Lớp: @Model.Student.StudentClass</p>
        

        <!-- Add more student details as needed -->
    </div>
    <div class="noiquy">
        <p>Nội quy:</p>
        <p><strong>Lưu ý</strong></p>
        <ul>
            <li>Mỗi vòng Tự luyện gồm 3 bài thi, trong đó:</li>
            <ul>
                <li>Bài thi số 1-2-3: Bạn cần đạt ít nhất 75% số điểm mỗi bài thi để hoàn thành</li>
                
            </ul>
            <li>Kết quả của một lần Tự luyện được tính bằng tổng điểm và tổng thời gian làm bài của 3 bài thi 1-2-3-.</li>
            <li>1 phần thi sẽ có 10 cau hỏi, mỗi câu 10 điểm</li>
            <li> Phần matching word sẽ có 2 từ chọn đúng sẽ được 20 điểm</li>
        </ul>
        <p>(*) Hướng dẫn thi:</p>
        <ul>
            <li>Trắc nghiệm: chọn đáp án đúng</li>
            <li>Điền từ: Điền từ vào ô trống</li>
            <li>Nối từ: Chọn 2 từ tiếng Việt, tiếng Anh đồng nghĩa</li>
        </ul>
        <p>Học sinh bắt buộc phải thi hết 3 bài thi mới được sang vòng tiếp theo.</p>

    </div>
}

<h3>Select Round</h3>
<form method="get">
    <input type="hidden" name="studentId" value="@Model.Student.StudentId" />
    <select id="roundSelect" name="SelectedRoundId" onchange="this.form.submit()">
        <option value="">All Rounds</option>
        @foreach (var round in Model.Rounds)
        {
            @if (round.RoundId == Model.SelectedRoundId)
            {
                <option value="@round.RoundId" selected="selected">@round.RoundId</option>
            }
            else
            {
                <option value="@round.RoundId">@round.RoundId</option>
            }
        }
    </select>
    <noscript>
        <button type="submit">Filter</button>
    </noscript>
</form>




<h3>Các bài thi hiện tại</h3>
<table>
    <thead>
        <tr>
            <th>STT</th>
            <th>Bài thi</th>
            <th>Thời gian (giây)</th>
            <th>Điểm</th>
            <th>Vòng</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PartResults != null && Model.PartResults.Any())
        {
            int index = 1;
            foreach (var result in Model.PartResults)
            {
                <tr>
                    <td>@index</td>
                    <td>@result.Part.PartName</td>
                    <td>
                        @if (result.CompleteTime == -1)
                        {
                            <button onclick="location.href='@Url.Page("/Test", new { partId = result.Part.PartId })'">Làm bài thi </button>
                        }
                        else
                        {
                            @result.CompleteTime
                        }
                    </td>
                    <td>
                        @if (result.Score == -1)
                        {
                            <p>N/A</p>
                       }
                        else
                        {
                            @result.Score
                        }
                    </td>
                    <td>@result.Part.RoundId</td>
                </tr>
                index++;
            }
        }
        else
        {
            <tr>
                <td colspan="5">No part results found.</td>
            </tr>
        }
    </tbody>
</table>

<h3>Các vòng thi của bạn</h3>
<table>
    <thead>
        <tr>
            <th>STT</th>
            <th>Vòng</th>
            <th>Điểm</th>
            <th>Thời gian (giây)</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.IndividualStudyResults != null && Model.IndividualStudyResults.Any())
        {
            int index = 1;
            foreach (var result in Model.IndividualStudyResults)
            {
                <tr>
                    <td>@index</td>
                    <td>@result.RoundId</td>
                    <td>@result.RoundScore</td>
                    <td>@result.CompleteTime</td>
                </tr>
                index++;
            }
        }
        else
        {
            <tr>
                <td colspan="4">No self-study results found.</td>
            </tr>
        }
    </tbody>
</table>



<style>
    .TaoDe {
        color: black;
        display: flex;
        flex-direction: row;
    }

    .de {
        background-color: lightgray;
        padding: 20px;
        color: black;
    }

        .de h3 {
            margin: 0;
        }

    .info {
        margin-left: 100px;
        width: 60%;
    }

    table {
        width: 80%;
        border: none;
        border-collapse: collapse;
    }

        table tr {
            height: 40px
        }

        table td {
            text-align: center;
            border-bottom: solid 1px black;
        }



    button {
        border: none;
        width: 250px;
        font-size: large;
        padding: 20px;
        background-color: rgba(0, 123, 255, 0.8);
        border-radius: 5px;
        color: white;
    }

        button:hover {
            background-color: blue;
        }

    .info-user {
        margin-top: 30px
    }

    .rank-info {
        margin-top: 30px;
    }

        .rank-info .title {
            background-color: rgba(0, 123, 255, 0.8);
            color: white;
            padding: 10px;
        }

    .card-item {
        background-color: lightgray;
        padding: 10px;
        margin: 5px 0 5px 0;
    }

    .tuluyen {
        margin-top: 50px;
    }
</style>
